<template>
     <div class="counter__indicator">
         180
     </div>
</template>

<script>
export default {
  name: 'CommitCounter',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .counter__indicator{
        font-family: "NinjaRush", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        font-size: 100px;
    }
</style>
