<template>
  <div class="app">
    <h1 class="app__counter-title">
      FIGHT BEGINS
    </h1>
    <CommitCounter/>
  </div>
</template>

<script>
import CommitCounter from "@/components/CommitCounter";

export default {
  name: 'app',
  components: {
    CommitCounter,
  }
}
</script>

<style>
  body{
    margin: 0;
    padding: 0;
  }
  @font-face{
  font-family: "NinjaRush";
  src: url("./assets/fonts/NinjaRush.otf");
}
.app {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.app__counter-title {
    font-family: "NinjaRush", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

</style>
